/*
 * Copyright 2013 Christophe-Marie Duquesne <chmd@chmd.fr>
 * 
 * Edited by Toon Weyens, 2018, for personal use.
 *
 * CSS for making a resume with pandoc. Inspired by moderncv.
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */
/*@import url('https://fonts.googleapis.com/css?family=Oswald:700');*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

/*@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900');*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* Whole document */
body {
    font-family: 'Open Sans', serif;
    width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
    color: #343a40;
}

h1,
h2,
h3,
h4,
h5,
/*
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #757575;
}
*/
h6 {
    font-family: 'Roboto', serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #757575;
}

/*
.title {
    display: none;
}
*/

/* Title of the resume */
/*
h1 {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 88px;
    text-align:center;
    margin-top: 15px;
    margin-bottom: 0px;
    line-height: 88px;
}
*/
h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 100px;
    text-align:center;
    margin-top: 15px;
    margin-bottom: 0px;
    line-height: 88px;
}

/* Titles of categories */
h2 {
    color: #757575;
}

/* There is a bar just before each category */
h2::before {
    content: "";
    display: inline-block;
    margin-right:2%;
    margin-bottom:2px;
    width: 15%;
    height: 11px;
    background-color: #BD5D38;
}

.h2_subtitle {
    font-family: 'Roboto Condensed', serif;
    font-weight: 300;
    margin-top: 0px;
    text-align: center;
}

/* subtile has no bars */
.h2_subtitle::before{
    content: "";
    display: none
}

/* Definitions */
dt {
    float: left;
    clear: left;
    width: 17%;
}
dd {
    margin-left: 17%;
}
p {
    margin-top:0;
    margin-bottom:7px;
    text-align: justify
}

/* Blockquotes */
blockquote {
    text-align: justify
}

/* Links */
a:link, a:visited {
    text-decoration: none;
    color: #BD5D38;
    text-shadow: 0px 0px 0.0px #343a40;
}
a:hover, a:active {
    color: #BD5D38;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

/* Horizontal separators */
hr {
    color: #A6A6A6;
}

/* color for icons */
.fa-circle {
    color: #757575;
}
.fa-stack:hover .fa-circle {
    color: #BD5D38;
}
.fa-star {
    color: #BD5D38;
}
.fa-star-o {
    color: #757575;
}
.fa-stacked-stars {
    width: 18px !important;
    height: 16px !important;
    line-height: 16px !important;
    margin-top: -2px;
}
